.notice .van-nav-bar {
  height: 96px;
}
.apply .van-nav-bar {
  height: 96px;
}
.notice .van-nav-bar__title {
  line-height: 96px;
  font-size: 32px;
}
.apply .van-nav-bar__title {
  line-height: 96px;
  font-size: 32px;
}
.notice .van-nav-bar__left {
  left: 30px;
}
.notice .van-nav-bar__left,
.van-nav-bar__right {
  bottom: 30%;
}
.notice .van-nav-bar__arrow {
  font-size: 30px;
}
.notice .van-nav-bar .van-icon {
  color: #000;
}
.apply .van-nav-bar__left {
  left: 30px;
}
.apply .van-nav-bar__left,
.van-nav-bar__right {
  bottom: 30%;
}
.apply .van-nav-bar__arrow {
  font-size: 30px;
}
.apply .van-nav-bar .van-icon {
  color: #000;
}
.top {
  margin-top: 20px;
}
.create .van-nav-bar {
  height: 96px;
}
.create .van-nav-bar__title {
  line-height: 96px;
  font-size: 32px;
}
.create .van-nav-bar__left {
  left: 30px;
}
.create .van-nav-bar__left,
.van-nav-bar__right {
  bottom: 30%;
}
.create .van-nav-bar__arrow {
  font-size: 30px;
}
.create .van-nav-bar .van-icon {
  color: #000;
}
